@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(27, 27, 34);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 1200px;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.navbar img{
    position: relative;
    width: 350px;
    margin-top: -15px;
}

.background{
    width: 100%;
    height: 100vh;
    background: url('img/FONDO.png') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 610px;
    background: url('img/FONDO.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 540px;
    background: transparent;
    padding: 35px;
    color: rgb(202, 212, 255);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.register .input-box-date .nacimiento{
    margin-left: 30px;
}

.register .input-box-date .date-custom{
    position: fixed;
    margin-left: 245px;
    border: 0px;
    color: rgb(202, 203, 255);
    background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    opacity: 0.9;
    filter: invert(0.9);
}

.text-sci h2{
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 30px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i{
    font-size: 30px;
    color: rgb(202, 203, 255);
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .logreg-box{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 45%);
    height: 100%;
    overflow: hidden;
}

.logreg-box .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(207, 202, 255);

}

.logreg-box .register h2{
margin-bottom: -40px;
}

.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login{
    transform: translateX(620px);
    transition-delay: 0s;
}

.logreg-box .form-box.register{
    transform: translateX(620px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s;
}

.form-box h2{
    font-size: 32px;
    text-align: center;
}

.form-box .input-box{
   position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid rgb(202, 207, 255);
    margin: 30px 30px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(205, 202, 255);
    font-weight: 500;
    padding-right: 100px;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px
}


.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.btn{
    display: inline-block; /* Esto permite que el enlace respete el width y height */
    width: 100%;
    height: 45px;
    background: rgb(48, 115, 240);
    border: none;
    outline: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(202, 203, 255);
    font-weight: 500;
    text-align: center; /* Centra el texto dentro del enlace */
    line-height: 45px; /* Alinea verticalmente el texto dentro del botón */
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.form-box .login-register{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}

.login-register p a{
    color: rgb(205, 202, 255);
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}